body{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 100vh;           /* Full viewport height */
    margin: 0;    
}

.arw-back {
    position: absolute;
    top: 20px;          /* Position from the top of the page */
    left: 20px;         /* Position from the left of the page */
}

.arw-back img {
    width: 40px;        /* Set the size of the arrow */
    cursor: pointer;    /* Change cursor on hover */
}

.vid-cor {
    max-width: 800px;      /* Set a maximum width for the video */
    width: 100%;           /* Make it responsive */
}

/* Video styling */
video {
    width: 100%;           /* Make the video fill the container */
    height: auto;          /* Maintain aspect ratio */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Add shadow for depth */

}

/* Enroll button styling */
.task-button {
    display: none;         /* Hide the button initially */
    margin-top: 30px;      /* Space between video and button */
}

.custom-button {
    background-color: #113f67; /* Button background color */
    color: white; /* Button text color */
    padding: 15px 80px; /* Button padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    font-size: 20px; /* Font size */
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Transition for hover effect */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Add shadow for depth */

}

.custom-button:hover {
    background-color: #113f33; /* Change background on hover */
}