body {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the start (top) */
    align-items: center;     
    height: 100vh;           
    margin: 0;   
    font-family: Arial, Helvetica, sans-serif; 
}

.app-bar {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space items evenly */
    width: 100%; /* Full width */
    padding: 10px 20px; /* Padding for the app bar */
    padding-left: 50px;
    background-color: #113f67; /* App bar background color */
    color: white; /* Text color */
    position: relative; /* Relative positioning */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);  /* Shadow for the app bar */
    margin-bottom: 40px;
    margin-top: -18.5px;
}

.arw-back img {
    width: 40px;        
    cursor: pointer;    
}

.app-title {
    font-size: 24px; /* Title font size */
    font-weight: bold; /* Make title bold */
}

.vid-cor {
    max-width: 1200px;      
    width: 100%;    
    margin-top: 18.5px;       
}

video {
    width: 100%;           
    height: auto;          
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
}

.task-button {
    display: none;         
    margin-top: 60px;     
}

.custom-button {
    background-color: #113f67;
    color: white; 
    padding: 15px 80px;
    border: none;
    border-radius: 5px; 
    font-size: 20px; 
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 
}

.custom-button:hover {
    background-color: #10314e; 
}
