body{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    margin: 0;    
}

.arw-back {
    position: absolute;
    top: 20px;          
    left: 20px;        
}

.arw-back img {
    width: 40px;        
    cursor: pointer;    
}

.vid-cor {
    max-width: 800px;      
    width: 100%;           
}


video {
    width: 100%;           
    height: auto;          
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 

}


.task-button {
    display: none;         
    margin-top: 30px;     
}

.custom-button {
    background-color: #113f67; 
    color: white; 
    padding: 15px 80px;
    border: none;
    border-radius: 5px; 
    font-size: 20px; 
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-decoration: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); 

}

.custom-button:hover {
    background-color: #113f33; 
}